---
layout: default
---
<article class="bg-grenadier-50">
  <div class="container max-w-screen-lg pb-8 pt-8">
    This page <a class="underline" href="/posts/<%= resource.data.slug %>">has moved</a>.
    <script type="text/javascript">
      window.location.replace(window.location.origin + "/posts/<%= resource.data.slug %>");
    </script>
  </div>
</article>
