<header class="bg-zinc-900 text-neutral-100 py-12">
  <div class="container max-w-screen-lg">
    <div class="flex flex-col md:flex-row items-center">
      <a href="/" rel="home" class="w-32 aspect-square rounded-full border border-zinc-500" >
        <img
          class="rounded-full"
          src="/images/portrait.jpg"
          alt="Portrait of Christopher"
          width="128"
          height="128"
        />
      </a>
      <div class="md:ps-4">
        <h1 class="text-4xl text-center md:text-left">
          <a href="/" rel="home">
            Christopher Bennell
          </a>
        </h1>
        <p class="text-center md:text-left">
        I’m a full-stack web developer specializing in Ruby on Rails and Education Technology.
        <a class="underline" href="mailto:cbennell@hey.com">Get in touch</a>.
        </p>
      </div>
    </div>
  </div>
</header>
