<footer>
  <h2>About Christopher</h2>
  <p>
    I've been building websites since I was a kid. I’m a versatile web/devops developer with a BFA in New Media from Toronto Metropolitan University and years of hands-on experience. I have a wide range of skills across the development landscape. As a Ruby on Rails developer at OCAD University in Toronto, I contribute to in-house projects and the open-source community. I’ve had the privilege of presenting at industry conferences, sharing my knowledge with peers. Outside of work, I enjoy running, camping, canoeing, and board games.
  </p>
  <p>
    <img src="{{ '/images/beach.jpg' | relative_url }}" alt="Christopher on a sunny beach, holding a metal detector, looking for treasure." />
  </p>
  <ul>
    <li><a href="" rel="noopener nofollow">GitHub</a></li>
    <li><a href="" rel="noopener nofollow">LinkedIn</a></li>
    <li><a href="" rel="noopener nofollow">Email</a></li>
    <li><a href="" rel="noopener nofollow">Resume</a></li>
  </ul>
</footer>
