<footer class="bg-zinc-900 text-neutral-100 pt-8 pb-60">
  <div class="container max-w-screen-lg">

    <!--About-->
    <h2 class="text-4xl text-center md:text-left pb-4">About Christopher</h2>
    <div class="md:flex space-y-6 md:space-y-0 md:space-x-6">
      <!--Bio-->
      <p class="font-light md:flex-grow md:w-2/3">
      I’ve been building websites since I was 9 years old. As a Senior Software Engineer, I specialize in building empowering tools for educators and enhancing student experiences. I create scalable, user-friendly solutions, contribute to open-source projects and share my expertise at industry conferences.
      </p>

      <!--Image-->
      <p class="md:w-1/3">
        <img
          class="sepia-[.8] w-full object-cover"
          src="{{ '/images/beach.jpg' | relative_url }}"
          alt="Christopher on a sunny beach, holding a metal detector, looking for treasure."
        />
      </p>
    </div>

    <!--Social-->
    <ul class="flex justify-center space-x-5 text-grenadier-200 py-8">
      <li><a href="https://github.com/christopher-b/" rel="noopener nofollow"><i class="fa-brands fa-github"></i> GitHub</a></li>
      <li><a href="https://www.linkedin.com/in/christopher-bennell/" rel="noopener nofollow"><i class="fa-brands fa-linkedin"></i> LinkedIn</a></li>
      <li><a href="mailto:cbennell@hey.com" rel="noopener nofollow"><i class="fa-solid fa-envelope"></i> Email</a></li>
      <li><a href="{{ "files/christopher_bennell_resume.pdf" | relative_url }}" rel="noopener nofollow"><i class="fa-solid fa-file"></i> Resume</a></li>
    </ul>
    <p class="text-center text-grenadier-200">
      This site is <a href="https://github.com/christopher-b/cbennell.com" class="underline">open-source</a>.
    </p>
  </div>
</footer>
