<header>
  <h1>
    <a href="/" rel="home">
      <img src="{{ '/images/portrait.jpg' | relative_url }}" alt="Portrait of Christopher" />
      Christopher Bennell
    </a>
  </h1>
  <p>
  I’m a full-stack web developer specializing in Ruby on Rails and Education Technology. <a href="mailto:cbennell@hey.com">Let’s connect</a>.
  </p>
</header>
